@model IEnumerable<Nibo.OfxReader.Website.Models.BankAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contas bancárias</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>                
                @Html.ActionLink("Details", "Details", new { id = item.BankAccountId, @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>